@font-face {
  font-family: proximaNova;
  src: url(ProximaNova-Black.otf) format("opentype");
}

.App {
  font-family: proximaNova;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
