.users {
  display: flex;
}

.user div {
  flex: 1;
}

.user-info {
  margin-bottom: 10px;
  margin-left: 20px;
}

.user-images {
  display: flex;
  flex-direction: column;
}

.user-info img {
  height: 100px;
}

.go-back {
  color: white;
  background: #00B9D7;
  padding: 10px;
}

.go-back:hover {
  cursor: pointer;
  background: #00A9C7;
  transition:  background 0.2s ease;
}
